<form [formGroup]="loginForm" class="form-group" (ngSubmit)="onSubmit()">

    <app-text-input [formControl]="loginForm.controls['tel']" [label]="'Telefone'" [placeholder]="'(00) 00000-0000'" [mask]="'(00) 00000-0000'" [id]="'tel'"></app-text-input>
    <br>
    <app-text-input [formControl]="loginForm.controls['pass']" [type]="'password'" [label]="'Senha'" [placeholder]="'******'" [id]="'password'"></app-text-input>
    <button mat-button [disabled]="loginForm.invalid" class="button-entrar">Entrar</button>
</form>