<div class="back">
    <mat-icon style="font-size: 1.3rem;" [routerLink]="'/'">arrow_back</mat-icon>
    <span>Voltar</span>
</div>

<div class="main-card">
    <div class="header">
        <div class="content">
            <span class="title">Seu pedido</span>
        </div>
    </div>
    <hr>
    <div>
        <div class="food-card" *ngFor="let pedido of pedidos">
            <div class="content">
                <span class="title caption">{{pedido.name}}<span class="icon">{{(pedido.qtde * pedido.price) | currency : 'R$ '}}</span></span>
                <div style="margin-right: 25%; margin-top: 1.5%;" class="counter">
                    <button type="button" tabindex="0" class="btn-icon" (click)="updateItemQuantity(pedido.id, false)">
                        <span class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                <path fill="#EA1D2C" fill-rule="evenodd" d="M17.993 11c.556 0 1.007.444 1.007 1 0 .552-.45 1-1.007 1H6.007A1.001 1.001 0 0 1 5 12c0-.552.45-1 1.007-1h11.986z"></path>
                            </svg>
                        </span>
                    </button>
                    <div class="value">{{pedido.qtde}}</div>
                    <button type="button" tabindex="0" class="btn-icon" (click)="updateItemQuantity(pedido.id, true)">
                        <span class="icon-marmita icon-marmita--plus-sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                <path fill="#EA1D2C" fill-rule="evenodd" d="M13 11h4.993c.556 0 1.007.444 1.007 1 0 .552-.45 1-1.007 1H13v4.993C13 18.55 12.556 19 12 19c-.552 0-1-.45-1-1.007V13H6.007A1.001 1.001 0 0 1 5 12c0-.552.45-1 1.007-1H11V6.007C11 5.45 11.444 5 12 5c.552 0 1 .45 1 1.007V11z"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    <div class="vazio" *ngIf="pedidos.length == 0">
        <span class="texto-vazio">Este carrinho está vazio :(</span>
    </div>
    <div class="footer" *ngIf="pedidos.length != 0">
        <div class="food-card">
            <div class="content">
                <span class="title caption" style="font-size: 1.1rem;">Total<span class="icon" style="color: #ea1d2c; font-size: 1.1rem;">{{getTotal() | currency : 'R$ '}}</span></span>
            </div>
        </div>
        <div class="buttons">
            <button mat-button class="button-finalizar">Finalizar pedido</button>
        </div>
    </div>
</div>

