.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;


}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid white;
    color: white;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;

}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid white;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;

}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #4bb543;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

.step-name {
    color: white;
    font-size: 0.7em;
}


.main-card {
    margin-top: 10%;
    background: #36353D;
    padding: 3%;
    border-radius: 1rem;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.food-card {
    position: relative;
    background: #36353D;
    width: 100%;
    color: #fff;
    text-align: left;
    height: 100%;
}


.title-status {
    font-size: 1rem;
    color: #fff;
    margin-left: 8%;
}

.sub-title {
    opacity: 0.9;
    padding-bottom: 4%;
}

.content {
    padding-left: 2%;
    display: flex;
}

.caption {
    display: block;
}

.title {
    display: inline-flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
}


.button-cancelar {
    width: 100%;
    background-color: white;
    margin-top: 6%;
    margin-bottom: 3%;
    color: red !important;
}

.button-chat {
    width: 100%;
    background-color: white;
    margin-bottom: 2%;
}


@media (min-width:1281px) {

    svg {
        width: 40px;
    }

    .sub-title {
        font-size: 1rem;
        opacity: 0.5;
        padding-bottom: 2%;
    }

    .price {
        color: #C0C0C0;
        font-size: 0.6rem;
        text-align: right;
        position: absolute;
        left: 85%;
    }

    .title {
        font-size: 1rem;
        padding-top: 3%;
        padding-bottom: 0.5%;
        margin: 0;
    }
}

@media (max-width:700px) {

    .sub-title {
        font-size: 0.8rem;
        opacity: 0.5;
        padding-bottom: 2%;
    }

    .price {
        color: #C0C0C0;
        font-size: 0.8rem;
        text-align: right;
        position: absolute;
        left: 65%;
        width: 30%;
    }

    .title {
        font-size: 0.9rem;
        padding-top: 3%;
        padding-bottom: 0.5%;
        margin: 0;
    }



}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.value {
    display: inline-block;
    height: 30px;
    min-width: 35px;
    line-height: 34px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5%;
}

.item {
    display: block;
    background: #f2f2f2;
    z-index: 20;
    position: sticky;
    top: 0;
}

@media (min-width:1100px) {
    .back {
        display: none;
    }

    .main-card {
        width: 90%;
    }
}