<div class="content">
    
    <div class="row">
        <div class="food-card" *ngFor="let type of types" (click)="filterProducts(type.id)">
            <div class="content">
                <div class="food-card-img">
                    <img src="{{type.imgUrl}}" />
                </div>
                <div class="food-card-name">{{type.name}}</div>
            </div>
        </div>
</div>

<br><br>

<div class="content">
    <span class="select-text">{{optionSelected}}</span>
    <div class="grid-container">
        <div class="card-list" *ngFor="let product of products">
            <div class="content-list">
                <div class="food-card-name" style="color: #000">{{product.name}}</div>
                <div class="food-card-name" style="font-size: 1.0rem">{{product.description}}</div>
                <div class="food-card-name" style="color: #000">{{product.price | currency:'BRL':true:'1.2-2'}}</div>
            </div>
        </div>
    </div>
</div>





