.form-group {
    display: flex;
    flex-direction: column;
}
.form__label {
    font-size: 1.2rem;
    margin-left: 20%;
    color: white;
  }
  
.form__input {
    width: 50%;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 1.2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }

.button-entrar {
    margin: 0 auto;
    width: 60%;
    background-color: #71d5ac;
    margin-top: 6%;
    margin-bottom: 3%;
    color: #fff;
}
  
  