<header class="site-header">
    <div class="site-identity">
        <h1 *ngIf="currentRoute == '/produtos'">Coffe Shop</h1>
        <div class="nav-text" *ngIf="currentRoute == '/carrinho'"><mat-icon class="back" [routerLink]="'/'">arrow_back</mat-icon> <h1 class="carrinho-title" style="margin: .4em 0 .3em 0.6em;" >Carrinho</h1></div>
        <div class="nav-text" *ngIf="currentRoute == '/carrinho/login-or-continue'"><mat-icon class="back" [routerLink]="'/carrinho'">arrow_back</mat-icon> <h1 class="carrinho-title" style="margin: .4em 0 .3em 0.6em;">Login</h1></div>
        <div class="nav-text" *ngIf="currentRoute == '/carrinho/login'"><mat-icon class="back" [routerLink]="'/carrinho/login-or-continue'">arrow_back</mat-icon> <h1 class="carrinho-title" style="margin: .4em 0 .3em 0.6em;">Voltar</h1></div>
        <div class="nav-text" *ngIf="currentRoute == '/carrinho/sem-login'"><mat-icon class="back" [routerLink]="'/carrinho/login-or-continue'">arrow_back</mat-icon> <h1 class="carrinho-title" style="margin: .4em 0 .3em 0.6em;">Voltar</h1></div>
    </div>
    <div class="menu-icon">
        <div>
            <mat-icon class="icon-display">menu</mat-icon>
        </div>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a>Início</a></li>
            <li><a>Formas pagamento</a></li>
            <li><a>Horários</a></li>
            <li><a>Contato</a></li>
        </ul>
    </nav>
</header>

